/tests/opengl00/Debug
/tests/opengl00/Release
/tests/opengl00/x64
/tests/opengl00/opengl00.vcxproj.user
/tests/opengl00/opengl00.opensdf
/tests/opengl00/opengl00.sdf
/tests/opengl00/opengl00.v12.suo
/libpan360/Debug
/libpan360/x64
/libpan360/*.sdf
*.user
*.opensdf
/tests/jpeg_load/Debug
/tests/jpeg_load/Release
/tests/jpeg_load/x64
/tests/jpeg_load/*.sdf
/tests/jpeg_load/*.user
*.orig
*.suo
/tests/cam_mov/Debug
*.sdf
/libpan360/include/pan360/p360_jpeg.h
/libpan360/src/p360_jpeg.cxx
